:root {
	color-scheme: light dark;

	--area-border: #444;
	--background-selected: #666;
	--background: #ddd;
	--menu-background: #fff;
	--menu-bar-background: #fff;
	--menu-bar-button-selected: #eee;
	--menu-border: #ddd;
	--menu-item-background-selected: #eee;
	--menu-text-disabled: #666;
	--menu-text: #222;
	--resources-area-background: #fff;
	--text-selected: #fff;
	--text-unfocused: #666;
	--text: #000;
	--title-bar-background: #fff;
	--warning-background: #fb0;
	--window-border-unfocused: #666;
	--window-border: #000;
	--window-client-background: #eee;
	--window-client-horizontal-border: #ccc;
	--windows-area-background: #ddd;
}

:root.dark {
	color-scheme: dark;

	--area-border: #bbb;
	--background-selected: #444;
	--background: #111;
	--menu-background: #222;
	--menu-bar-background: #111;
	--menu-bar-button-selected: #444;
	--menu-border: #444;
	--menu-item-background-selected: #444;
	--menu-text-disabled: #888;
	--menu-text: #eee;
	--resources-area-background: #000;
	--text-selected: #fff;
	--text-unfocused: #999;
	--text: #fff;
	--title-bar-background: #555;
	--warning-background: #740;
	--window-border-unfocused: #999;
	--window-border: #aaa;
	--window-client-background: #000;
	--window-client-horizontal-border: #333;
	--windows-area-background: #000;
}

:root.light {
	color-scheme: light;
}

.h-window-manager {
	> .windows, > .modal {
		> .h-window {
			color: var(--text-unfocused);

			> .border {
				border-color: var(--window-border-unfocused) !important;
				background-color: var(--title-bar-background);
			}

			> .contents {
				> .title-bar {
					background-color: var(--title-bar-background);
				}

				> .client {
					background-color: var(--window-client-background);
				}
			}

			&.focused {
				color: var(--text);

				> .border {
					border-color: var(--window-border) !important;
				}
			}
		}
	}
}

.h-menu-manager {
	.h-menu {
		padding-top: 2px;
		padding-bottom: 2px;
		border: 1px solid var(--menu-border);
		background-color: var(--menu-background);
		color: var(--menu-text);

		.h-menu-item {
			height: 24px;
			padding-right: 56px;
			padding-left: 32px;

			&.selected {
				background-color: var(--menu-item-background-selected);
			}

			&.disabled {
				color: var(--menu-text-disabled);
			}
		}
	}
}

.h-tab-control {
	> .buttons {
		> .button {
			border-color: var(--window-client-horizontal-border) !important;
		}
	}

	> .content {
		padding: 8px;
		border: 1px solid var(--window-client-horizontal-border);
		border-top: none;
	}

	&.right {
		> .content {
			border: 1px solid var(--window-client-horizontal-border);
			border-right: none;
		}
	}
}

.h-menu-bar {
	background-color: var(--menu-bar-background);

	> .h-menu-bar-button {
		&:hover, &:focus, &.selected {
			background-color: var(--menu-bar-button-selected);
		}
	}
}

.h-image-list {
	> .item {
		&.selected {
			background: var(--background-selected);
			color: var(--text-selected);
		}
	}
}

.h-tree-list {
	> .h-tree-item {
		> .item {
			&.selected {
				> .icon-and-name {
					> .name {
						background-color: var(--background-selected);
						color: var(--text-selected);
					}
				}
			}
		}
	}
}

.h-splitter {
	padding: 4px;
	background-color: var(--background);
}

html, body {
	display: flex;
	height: 100%;
	flex-direction: column;
}

body {
	margin: 0;
}

body, button, input, select {
	font-family: sans-serif;
	font-size: 9pt;
}

input[type="text"], input[type="number"], select {
	width: 96px;
}

.editor {
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: column;
	color: var(--text);

	> .main {
		display: contents;
	}

	div > .warning {
		padding: 2px;
		background-color: var(--warning-background);
		text-align: center;
	}
}

.tool-bar-area {
	display: flex;
	flex-wrap: wrap;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	background-color: var(--background);

	.separator {
		width: 8px;
	}
}

.resources-area {
	width: 250px;
	min-width: 32px;
	box-sizing: border-box;
	padding: 4px;
	border: 1px solid var(--area-border);
	background-color: var(--resources-area-background);
	overflow-y: scroll;
}

.windows-area {
	position: relative;
	display: flex;
	min-width: 32px;
	flex: 1;
	flex-direction: column;
	border: 1px solid var(--area-border);
	background-color: var(--windows-area-background);
	gap: 4px;

	> .h-window-manager {
		overflow-x: auto;
		overflow-y: scroll;
		pointer-events: auto;
	}
}

.panel-container {
	display: flex;
	flex-direction: row;

	> * {
		&:not(:first-child) {
			padding-left: 4px;
		}

		&:not(:last-child) {
			padding-right: 4px;
			border-right: 1px solid var(--window-client-horizontal-border);
		}
	}
}

.inline-flex {
	display: inline-flex;
}

.window-sprite {
	min-height: 0;
	flex: 1;

	> .properties {
		overflow: auto;
		flex: none;

		.origin-x-y {
			display: flex;

			> .h-label-and-input {
				flex: 1;

				input {
					width: 32px;
				}
			}

		}
	}

	> .mask {
		overflow: auto;
		flex: none;
	}

	> .preview {
		overflow: auto;
		min-width: 250px;
		flex: 1;
	}
}

.window-sprite-images {
	flex: 1;
}

.window-sound {
	flex: 1;

	> .preview > audio {
		width: 100%;
		min-width: 300px;
	}
}

.window-background {
	flex: 1;

	> .properties {
		flex: none;
	}

	> .preview {
		overflow: auto;
		min-width: 250px;
		flex: 1;
	}
}

.window-path {
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: column;

	> .tool-bar {
		display: flex;

		> .h-label-and-input > input {
			width: 32px;
		}
	}

	> .panel-container {
		min-height: 0;
		flex: 1;

		> .properties {
			overflow: auto;
			width: 200px;
			min-height: 0;
			flex: none;

			> .points > select {
				height: 150px;
			}

			> .columns {
				display: flex;
				flex-direction: row;

				> div > :is(.x, .y, .sp) > input {
					// width: 48px;
				}

				> .buttons {
					display: flex;
					flex-direction: column;
				}
			}
		}

		> .path {
			display: flex;
			min-width: 32px;
			min-height: 0;
			flex: 1;
			flex-direction: column;
			justify-content: space-between;

			> .preview {
				overflow: hidden;
				flex: 1;
			}

			> .status-bar {
				display: flex;
				overflow: auto;

				> .x, > .y {
					width: 60px;
				}

				> .area {
					width: 60px;
					flex: 1 1 60px;
				}
			}
		}
	}
}

.window-script {
	display: flex;
	flex: 1;
	flex-direction: column;

	> .h-code-editor {
		flex: 1;
	}
}

.window-font {
	flex: 1;
}

.window-timeline {
	flex: 1;

	> .properties {
		flex: none;
	}

	> .moments {
		display: flex;
		min-width: 150px;
		flex: none;
		flex-direction: column;
	}

	> .actions {
		display: flex;
		min-width: 200px;
		flex: 1;
		flex-direction: column;

		> .actions-list > select > option {
			&.bold {
				font-weight: bold;
			}

			&.italic {
				font-style: italic;
			}
		}
	}

	> .moments .moments-list,
	> .actions .actions-list {
		flex: 1;
		flex-direction: column;
	}
}

.window-object {
	flex: 1;

	> .properties {
		flex: none;
	}

	> .events {
		display: flex;
		min-width: 150px;
		flex: none;
		flex-direction: column;
	}

	> .actions {
		display: flex;
		min-width: 200px;
		flex: 1;
		flex-direction: column;

		> .actions-list > select > option {
			&.bold {
				font-weight: bold;
			}

			&.italic {
				font-style: italic;
			}
		}
	}

	> .events .events-list,
	> .actions .actions-list {
		flex: 1;
		flex-direction: column;
	}
}

.window-timeline, .window-object {
	> .libraries {
		flex: none;

		> .libraries-tabs {
			display: flex;
			flex-direction: row-reverse;

			> .content > .action-types {
				display: grid;
				grid-template-columns: repeat(3, minmax(0, 1fr));
				overflow-wrap: break-word;

				> .label {
					grid-column: 1 / -1;
				}

				> .action-type {
					padding: 0;

					&.new-row {
						grid-column-start: 1;
					}

					img {
						display: block;
						margin: auto;
					}
				}
			}
		}
	}
}

.window-action {
	flex: 1;

	> .arrow-interface {
		display: grid;
		grid-template-columns: repeat(3, max-content);
	}
}

.window-code {
	display: flex;
	flex: 1;
	flex-direction: column;

	> .tool-bar {
		display: flex;
	}

	> .h-code-editor {
		flex: 1;
	}
}

.window-room {
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: column;

	> .tool-bar {
		display: flex;

		> .h-label-and-input > input {
			width: 32px;
		}
	}

	> .panel-container {
		min-height: 0;
		flex: 1;

		> .properties {
			overflow: auto;
			width: 200px;
			min-height: 0;
			flex: none;

			> .properties-tabs > .content {
				> .backgrounds, > .views {
					> select {
						overflow: auto;

						> option.bold {
							font-weight: bold;
						}
					}
				}
			}
		}

		> .room {
			display: flex;
			min-width: 32px;
			min-height: 0;
			flex: 1;
			flex-direction: column;
			justify-content: space-between;

			> .preview {
				overflow: auto;
				flex: 1;
			}

			> .status-bar {
				display: flex;
				overflow: auto;

				> .x, > .y {
					width: 60px;
				}

				.object {
					width: 160px;
				}

				.id {
					width: 60px;
					flex: 1 1 60px;
				}
			}
		}
	}
}

.window-game-information {
	display: flex;
	flex: 1;
	flex-direction: column;

	> .h-multiline-text-input {
		flex: 1;
		align-items: normal;
	}
}

.window-global-game-settings {
	flex: 1;
}

.game {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	> .main > canvas {
		display: block;
		image-rendering: pixelated;

		&.no-cursor {
			cursor: none;
		}
	}
}

.h-window-manager {
	> .windows, > .modal {
		> .h-window > .contents > .client:has(> .game) {
			padding: 0;
		}
	}
}