.h-tree-list {
	> .h-tree-item {
		> .item {
			display: flex;
			width: fit-content;
			height: 18px;
			box-sizing: border-box;
			align-items: center;

			> .expander {
				width: 16px;
				height: 16px;
				margin-right: 4px;
				text-align: center;
				user-select: none;
			}

			> .icon-and-name {
				display: flex;
				align-items: center;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}

				> .icon {
					width: 16px;
					height: 16px;
					margin-right: 4px;
					object-fit: contain;
					vertical-align: middle;
					visibility: hidden;
				}

				> .icon[src] {
					visibility: visible;
				}

				> .name {
					flex: 1;
					white-space: pre;
				}
			}

			&.selected {
				> .icon-and-name {
					> .name {
						background: black;
						color: white;

						@media (prefers-color-scheme: dark) {
							background: white;
							color: black;
						}
					}
				}
			}
		}

		> .children {
			padding-left: 20px;

			&.closed {
				display: none;
			}
		}
	}
}