.h-tree-list {
	> .h-tree-item {
		> .item {
			display: flex;
			height: 18px;
			align-items: center;
			box-sizing: border-box;

			> .expander {
				width: 16px;
				height: 16px;
				margin-right: 4px;
				text-align: center;
				user-select: none;
			}

			> .icon {
				width: 16px;
				height: 16px;
				margin-right: 4px;
				object-fit: contain;
				vertical-align: middle;
				visibility: hidden;
			}

			> .icon[src] {
				visibility: visible;
			}

			> .name {
				flex: 1;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}

				&.selected {
					background: black;
					color: white;

					@media (prefers-color-scheme: dark) {
						background: white;
						color: black;
					}
				}
			}
		}

		> .children {
			padding-left: 20px;

			&.closed {
				display: none;
			}
		}
	}
}