:root {
	color-scheme: light dark;
	--window-client-horizontal-border: #ccc;
	--warning-background: #fb0;
	--area-border: #444;
	--window-border: #aaa;
	--titlebar-background: #aaa;
	--menu-text: #222;
	--menu-background: #fff;
	--menu-border: #ddd;
	--menu-item-selected-background: #eee;
}

:root.dark {
	color-scheme: dark;
	--window-client-horizontal-border: #333;
	--warning-background: #740;
	--area-border: #bbb;
	--window-border: #555;
	--titlebar-background: #555;
	--menu-text: #eee;
	--menu-background: #222;
	--menu-border: #444;
	--menu-item-selected-background: #444;
}

:root.light {
	color-scheme: light;
}

.h-label-and-input, .h-select {
	display: flex;
	gap: 4px;
	align-items: baseline;
	flex-wrap: wrap;
}

.h-label-and-input > input, .h-select > select {
	flex: 1;
	width: 100%;
}

.h-multiline-text-input {
	display: flex;
	gap: 4px;
	align-items: baseline;
	flex-wrap: wrap;
}

.h-multiline-text-input > label {
	width: 100%;
}

.h-multiline-text-input > textarea {
	width: 100%;
	height: 256px;
	font: inherit;
}

.h-menu-manager {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

body {
	margin: 0;
}

body, button, input, select {
	font-family: sans-serif;
	font-size: 10pt;
}

canvas {
	image-rendering: pixelated;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}

.tab-button {
	display: inline-block;
}
.tab-content {
	border: 1px solid var(--window-client-horizontal-border);
	padding: 8px;
}

.code {
	width: 100%;
	height: 256px;
}

.warning {
	text-align: center;
	background-color: var(--warning-background);
	padding: 2px;
}

.editor {
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.editor > .horizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
}

.editor > .horizontal > .resources-area {
	flex: 0 1 auto;
	width: 300px;
}

.editor > .horizontal > .windows-area {
	flex: 1;
}

.menu-area, .resources-area, .windows-area {
	border: 1px solid var(--area-border);
	padding: 8px;
}

.menu-area {
	display: flex;
	flex-wrap: wrap;
}

.menu-area .separator {
	width: 8px;
}

.resources-area ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.resources-area ul > li > .item {
	display: flex;
	align-items: center;
	padding-bottom: 4px;
	height: 21px;
}

.resources-area ul > li > .item > .expander {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.resources-area ul > li > .item > .icon {
	width: 16px;
	height: 16px;
	object-fit: contain;
	vertical-align: middle;
	visibility: hidden;
	margin-right: 4px;
}
.resources-area ul > li > .item > .icon[src] {
	visibility: visible;
}

.resources-area ul > li > .item > .name {
	flex: 1;
	cursor: pointer;
}

.resources-area ul > li > .item > .name:hover {
	text-decoration: underline;
}

.resources-area li > ul {
	padding-left: 20px;
}

.windows-area {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.windows-area > .window {
	border: 1px solid var(--window-border);
}

.windows-area > .window > .titlebar {
	display: flex;
	background-color: var(--titlebar-background);
	align-items: center;
}

.windows-area > .window > .titlebar > .title {
	flex: 1;
}

.windows-area > .window > .titlebar > .close {
	align-self: flex-start;
}

.windows-area > .window > .client {
	padding: 8px;
}

.windows-area > .window > .client > .horizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
}

.windows-area > .window > .client > .horizontal > div {
	border: 1px solid var(--window-client-horizontal-border);
	padding: 8px;
}

.windows-area > .window > .client > .window-sprite > .properties {
	flex: 0 1 auto;
	width: 200px;
}

.windows-area > .window > .client > .window-sprite > .properties .origin-x-y {
	display: flex;
}

.windows-area > .window > .client > .window-sprite > .mask {
	flex: 0 1 auto;
	width: 250px;
}

.windows-area > .window > .client > .window-sprite > .preview {
	flex: 1;
	min-width: 250px;
	overflow: auto;
	max-height: 80vh;
}

/*.windows-area > .window > .client > .window-sound {}*/

.windows-area > .window > .client > .window-background > .properties {
	flex: 0 1 auto;
	width: 250px;
}

.windows-area > .window > .client > .window-background > .preview {
	flex: 1;
	min-width: 250px;
	overflow: auto;
	max-height: 80vh;
}

/*.windows-area > .window > .client > .window-path {}*/
/*.windows-area > .window > .client > .window-script {}*/
/*.windows-area > .window > .client > .window-font {}*/
/*.windows-area > .window > .client > .window-timeline {}*/

.windows-area > .window > .client > .window-object > .properties {
	flex: 0 1 auto;
	width: 200px;
}

.windows-area > .window > .client > .window-object > .events {
	flex: 0 1 auto;
	min-width: 200px;
}

.windows-area > .window > .client > .window-object > .events .events-list label,
.windows-area > .window > .client > .window-object > .actions .actions-list label {
	width: 100%;
}

.windows-area > .window > .client > .window-object > .events .events-list select,
.windows-area > .window > .client > .window-object > .actions .actions-list select {
	height: calc(12*16px);
	resize: vertical;
}

.windows-area > .window > .client > .window-object > .actions {
	flex: 1;
	min-width: 200px;
}

.windows-area > .window > .client > .window-object > .libraries {
	flex: 0 1 auto;
	width: 250px;
}

.windows-area > .window > .client > .window-object > .libraries .action-types {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	overflow-wrap: break-word;
}

.windows-area > .window > .client > .window-object > .libraries .action-types .label {
	grid-column: 1 / -1;
}

.windows-area > .window > .client > .window-object > .libraries .action-types .action-type {
	padding: 0;
}

.windows-area > .window > .client > .window-object > .libraries .action-types .action-type.new-row {
	grid-column-start: 1;
}

.windows-area > .window > .client > .window-object > .libraries .action-types img {
	display: block;
}

.windows-area > .window > .client > .window-action .arrow-interface {
	display: grid;
	grid-template-columns: repeat(3, max-content);
}

.windows-area > .window > .client > .window-room > .properties {
	flex: 0 1 auto;
	width: 300px;
}

.windows-area > .window > .client > .window-room .backgrounds label {
	width: 100%;
}

.windows-area > .window > .client > .window-room .backgrounds select {
	overflow: auto;
}

.windows-area > .window > .client > .window-room > .preview {
	flex: 1;
	min-width: 300px;
	overflow: auto;
	max-height: 80vh;
}

.windows-area > .window > .client > .window-game canvas {
	display: block;
	margin: 0 auto;
}

.windows-area > .window > .client > .window-game canvas.no-cursor {
	cursor: none;
}

.menu {
	position: absolute;
	color: var(--menu-text);
	background-color: var(--menu-background);
	border: 1px solid var(--menu-border);
	padding-top: 2px;
	padding-bottom: 2px;
}

.menu-item {
	display: flex;
	align-items: center;
	height: 24px;
	padding-left: 32px;
	padding-right: 56px;
}

.menu-item.selected {
	background-color: var(--menu-item-selected-background);
}