.game {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	> .main > canvas {
		display: block;
		image-rendering: pixelated;

		&.no-cursor {
			cursor: none;
		}
	}

	.error-messages > textarea {
		min-width: 480px;
		min-height: 300px;
		font-family: monospace;
	}
}

.window-message {
	.buttons {
		display: flex;
		gap: 16px;

		.button {
			flex: 1;
		}
	}
}