.game {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	> .main > canvas {
		display: block;
		image-rendering: pixelated;

		&.no-cursor {
			cursor: none;
		}
	}

	.error-messages > textarea {
		min-width: 480px;
		min-height: 300px;
		font-family: monospace;
	}

	> .h-window-manager {
		> .modal {
			background-color: transparent;
		}
	}
}

.game-information-window {
	white-space: pre-wrap;
}

.message-window {
	--button-image: initial;
	--button-hover-image: initial;
	--button-pressed-image: initial;
	--button-font: initial;
	--button-color: initial;
	--button-hover-color: initial;
	--button-width: 80px;
	--button-height: 25px;

	background-size: 100% 100%;

	.text {
		flex: 1;
		white-space: pre-wrap;
	}

	.buttons {
		display: flex;
		justify-content: space-evenly;
		gap: 16px;

		.button {
			width: var(--button-width);
			height: var(--button-height);
			background-image: var(--button-image);
			// background-size: 100% 100%;
			color: var(--button-color);
			font: var(--button-font);
		}

		.button:hover {
			background-image: var(--button-hover-image);
			color: var(--button-hover-color);
		}

		.button:active {
			background-image: var(--button-pressed-image);
		}
	}
}

.highscore-window {
	background-color: black;
	background-size: 100% 100%;

	> .grid {
		display: grid;
		column-gap: 16px;
		grid-auto-rows: 32px;
		grid-template-columns: auto 1fr auto;

		> .row {
			display: contents;

			> .position, > .score {
				text-align: right;
			}

			> .name > input {
				border: inherit;
				background: inherit;
				color: inherit;
				font: inherit;
			}
		}
	}

	> .escape-text {
		text-align: center;
	}
}

