.h-tab-control {
	> .buttons {
		display: flex;
		flex-wrap: wrap;

		> .button {
			border: 1px solid black;
			background-color: gray;
			padding: 2px 4px 2px 4px;
			user-select: none;

			&.selected {
				background-color: inherit;
				border-bottom: none;
			}
		}
	}

	> .body {
		> .content {
			display: none;

			&.selected {
				display: block;
			}
		}
	}

	&.right {
		> .buttons {
			writing-mode: vertical-rl;

			> .button {
				border: 1px solid black;
				padding: 4px 2px 4px 2px;

				&.selected {
					border-left: none;
				}
			}
		}
	}
}