.h-tab-control {
	> .buttons {
		display: flex;
		flex-wrap: wrap;

		> .button {
			display: flex;
			align-items: center;
			padding: 2px;
			border: 1px solid gray;

			input {
				margin: 0;
			}

			&:has(input:checked) {
				border-bottom: none;
			}
		}
	}

	&.right {
		> .buttons {
			writing-mode: vertical-rl;

			> .button {
				border: 1px solid gray;

				&:has(input:checked) {
					border-left: none;
				}
			}
		}
	}
}