.grid {
	display: grid;
	grid-template-columns: 300px auto;
	grid-gap: 4px
}
.grid .menu {
	grid-column: 1/span 2;
}
.grid .resources {
	grid-column: 1;
}
.grid .windows {
	grid-column: 2;
}
.grid .game {
	grid-column: 1/span 2;
}

.menu, .resources, .windows, .game {
	border: 1px solid #444;
	padding: 8px;
}

.resources > ul > li {
	padding-top: 4px;
}

.resources ul {
	padding: 0;
	list-style: none;

}
.resources li ul {
	padding-left: 1em;
}

.resources li {
	clear: both;
}

.windows {
	display: grid;
}

.window {
	border: 1px solid #aaa;
}

.titlebar {
	background-color: #aaa;
	overflow: auto;
}

.right {
	float: right;
}

.client {
	background-color: white;
	padding: 8px;
}

.grid-sprite {
	display: grid;
	grid-template-columns: 300px auto;
	grid-gap: 4px
}
.grid-sprite > div {
	border: 1px solid #ccc;
	padding: 8px;
}

.grid-object {
	display: grid;
	grid-template-columns: 200px 200px auto 200px;
	grid-gap: 4px
}
.grid-object > div {
	border: 1px solid #ccc;
	padding: 8px;
}

.events {
	width: 100%;
}

.hidden {
	display: none;
}

.game canvas {
	display: block;
	border: 1px solid #888;
	margin: 0 auto;
}