.grid {
	display: grid;
	grid-template-columns: 300px auto;
	grid-gap: 4px
}
.grid .menu {
	grid-column: 1/span 2;
}
.grid .resources {
	grid-column: 1;
}
.grid .windows {
	grid-column: 2;
}
.grid .game {
	grid-column: 1/span 2;
}

.menu, .resources, .windows, .game {
	border: 1px solid #444;
	padding: 8px;
}

.resources > ul > li {
	padding-top: 4px;
}

.resources ul {
	padding: 0;
	list-style: none;

}
.resources li ul {
	padding-left: 1em;
}

.resources li {
	clear: both;
}

.windows {
	display: grid;
}

.window {
	border: 1px solid #aaa;
}

.titlebar {
	background-color: #aaa;
	overflow: auto;
}

.right {
	float: right;
}

.client {
	background-color: white;
	padding: 8px;
}

.grid-resource {
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 1fr;
}
.grid-resource > div {
	border: 1px solid #ccc;
	padding: 8px;
}

.grid-resource.resource-sprite {
	grid-template-columns: 300px 1fr;
}
.grid-resource.resource-sprite .preview {
	overflow: auto;
	max-height: 80vh;
}

.grid-resource.resource-object {
	grid-template-columns: 300px 200px 1fr 200px;
}
.grid-resource.resource-object .events label {
	display: block;
}
.grid-resource.resource-object .events select {
	width: 100%;
	height: 100%;
}
.grid-resource.resource-object .actions label {
	display: block;
}
.grid-resource.resource-object .actions select {
	width: 100%;
	height: 100%;
}

.grid-resource.resource-room {
	grid-template-columns: 300px 1fr;
}
.grid-resource.resource-room .preview {
	overflow: auto;
	max-height: 80vh;
}

.hidden {
	display: none;
}

.game canvas {
	display: block;
	border: 1px solid #888;
	margin: 0 auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.modalwindow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: initial;
}

.icon {
	width: auto;
	height: auto;
	max-width: 16px;
	max-height: 16px;
	min-width: 16px;
	min-height: 16px;
	vertical-align: middle;
}
.icon {
	visibility: hidden;
}
.icon[src] {
	visibility: visible;
}

canvas {
	image-rendering: pixelated;
}