.h-menu-manager {
	position: absolute;
	z-index: 20000;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	pointer-events: none;
	white-space: nowrap;

	.h-menu {
		position: absolute;
		overflow: auto;
		max-height: 100%;
		border: 1px solid black;
		background-color: white;
		color: black;
		pointer-events: auto;

		@media (prefers-color-scheme: dark) {
			border: 1px solid white;
			background-color: black;
			color: white;
		}

		.h-menu-item {
			display: flex;
			align-items: center;
		}
	}
}