.h-label-and-input, .h-select {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	column-gap: 4px;
}

.h-label-and-input > input, .h-select > select {
	width: 100%;
	flex: 1;
}

.h-multiline-text-input {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	column-gap: 4px;

	> label {
		width: 100%;
	}

	> textarea {
		width: 100%;
		min-width: 768px;
		min-height: 256px;
		font: inherit;
		resize: none;
	}
}

.h-color-input {
	> input {
		min-width: 64px;
	}
}