/* H */

.h-label-and-input, .h-select {
	display: flex;
	column-gap: 4px;
	align-items: baseline;
	flex-wrap: wrap;
}

.h-label-and-input > input, .h-select > select {
	flex: 1;
	width: 100%;
}

.h-multiline-text-input {
	display: flex;
	column-gap: 4px;
	align-items: baseline;
	flex-wrap: wrap;

	> label {
		width: 100%;
	}

	> textarea {
		font: inherit;
		min-height: 256px;
		min-width: 768px;
		resize: none;
		width: 100%;
	}
}

.h-color-input {
	> input {
		min-width: 64px;
	}
}

/* HCodeEditor */

.h-code-editor {
	display: flex;

	> .h-code {
		resize: none;
		width: 100%;
		tab-size: 4;
		min-height: 256px;
		min-width: 768px;
	}
}

/* HMenuManager */

.h-menu-manager {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10000;

	.h-menu {
		position: absolute;
		color: black;
		background-color: white;
		border: 1px solid black;

		@media (prefers-color-scheme: dark) {
			color: white;
			background-color: black;
			border: 1px solid white;
		}

		.h-menu-item {
			display: flex;
			align-items: center;
		}
	}
}

/* HTabControl */

.h-tab-buttons {
	display: flex;
}

.h-tab-button {
	display: flex;
	align-items: baseline;
}

/* HAreaMenuBar */

.h-menu-bar {
	display: flex;

	> .h-menu-bar-button {
		line-height: 24px;
		padding-left: 4px;
		padding-right: 4px;
		user-select: none;
	}
}