.h-menu-manager {
	height: 100%;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10000;

	.h-menu {
		background-color: white;
		border: 1px solid black;
		color: black;
		pointer-events: auto;
		position: absolute;

		@media (prefers-color-scheme: dark) {
			background-color: black;
			border: 1px solid white;
			color: white;
		}

		.h-menu-item {
			align-items: center;
			display: flex;
		}
	}
}